body{
    background: #eeedec;
    letter-spacing: .2rem;
    font-size: .8rem;
}
.container{
    max-width: 400px;
    max-height: 600px;
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}